body {
    background-color: rgb(253, 214, 235);
    padding: 20px;
    color: rgb(230, 129, 196);
}

h1 {
    color: white;
    font-family: cursive;
    text-align: center;
}

#cabecalho {
    text-align: center;
    color: rgb(230, 129, 196);
}

#flor {
    color: #cf698b;
}

hr {
    border-top: 5px dotted;
    border-bottom: white;
    width: 75%;
}

table {
    max-width: 140px;
    text-align: center;
    margin: auto;
}

td {
    width: 35px;
}

.a {
    color: #cf698b;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 40px;
    text-decoration: none;
}

.a:hover {
    box-shadow: 0 0 10px rgb(230, 129, 196);
    background-color: #cf698b;
    color: white;
}


#conteudo {
    text-align: justify;
    padding-top: 20px;
    padding-left: 185px;
    padding-right: 185px;
    color: rgb(230, 129, 196);
}

h3 {
    margin: 10px;
}

.matriz {
    text-align: center;
}